body {
  padding: 0;
  margin: 0;
  background-color: rgb(21, 32, 43);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  min-height: 95vh;
}

.hero {
  display: flex;
  width: 50%;
  background-color: rgb(113, 201, 248);
  align-items: center;
  justify-content: center;
}

.pitch {
  font-size: 19px;
  color: white;
  font-weight: 700;
}

.pitch-point {
  margin-bottom: 40px;
}

.login {
  display: flex;
  justify-content: center;
  width: 50%;
}

.join-twitter {
  align-self: center;
  color: white;
  font-weight: 700;
  max-width: 380px;
  display: flex;
  flex-wrap: wrap;
}

.headline {
  font-size: 30px;
  width: 100%;
}

.subheadline {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 15px;
}

.cta-button {
  height: 39px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sign-up-button {
  background-color: rgb(29, 161, 242);
  min-width: 63px;
}

.sign-up-button a {
  color: white;
  text-decoration: none;
}

.log-in-button {
  border: 1px solid rgb(29, 161, 242);
}

.log-in-button :any-link {
  color: rgb(29, 161, 242);
  text-decoration: none;
}
